body{

    
}

.headerdiv{

    border-bottom:5px solid gold !important;
    z-index:150;
}
header {
    
    background-color: black;
    
}
.titreaccueil{

    display: flex;
    justify-content: center;
}
.imgaccueil{

    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.imageaccueil{

    
    height:100%;
    width: 100%;
    
}
.titretables{

    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.headtables{

    background-color:gold;
}
footer{

    background-color: grey;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
}
.maps{

    margin-top: auto;
}
.maptitle{

    display: flex;
    justify-content: center;
    width:100%;
    
}
.info{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:50%;
    margin:auto;
}