html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

.headerdiv{
    opacity: 80%;
}
header {
    background: url(image/Hertz.jpg) fixed;
    background-size : cover;
    min-height: 100vh;
}
h1{

    font-size: 100px;
    text-shadow: black 1px 1px 1px;
    bottom: 100px;
    color: gold;
    position: absolute;
    justify-content: center;
}
.titreaccueil{

    display: flex;
    justify-content: center;
}
.imgaccueil{

    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.imageaccueil{

    
    height:100%;
    width: 100%;
    
}
.titretables{

    margin-top:5%;
    display: flex;
    justify-content: center;
}
.headtables{

    background-color:gold;
}td{

  background-color: white;
}
.liste{
 
}

td{

  
  
  font-weight: bold;
  font-size:2vh;


}
footer{

    background-image: url("image/mercedes-3417100_1920.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10%;
    display: flex;
    width: 100%;
    
}
.maps{

    margin-top: auto;
    display: flex;
}


.info{

  background-color:white;
    margin: auto;
    display: flex;
    width:100%;
    
    
    
}
#schroll {
    color: white;
    text-shadow: black 3px 3px 3px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
  }
  
  #schroll a img {
    transition: 0.7s;
  }
  
  #schroll a img:hover {
    transform: rotate(180deg);
    transition: 0.3s;
  }

  .dispo {
      width: 20px;
      margin-left: 25px;
  }

  nav {
      display: flex !important;
      justify-content: space-between !important;
  }
  
  /* partieadmin */
  .adminbody{
    background-color:whitesmoke;
    
  }

  .enregistrement.container-fluid{
      
    margin-top:10%;
    
    


  }
  input{

    border:none;
    background-color:white;
  }
  button{
    display: inline-block;
    padding: 5px 10px;
    background: gold;
    border: 1px solid black;
    color: black;
  }

  hr{
      background-color: gold !important;
  }
 body{
  
 }

    background-color:rgb;
  }

  .Bienvenue {
    color: white;
  }

  /* login */

.backgroundbody{

  background-image: url("image/mercedes-841465_1920.jpg");
  background-repeat: no-repeat;
  background-position:center;
}
 